---
import ContainerPages from "../../components/ContainerPages.astro";
import ImgAndText from "../../components/Sections/ImgAndText.astro";
import RelatedServices from "../../components/RelatedServices.astro";
import CTA from "../../components/CTA.astro";
import appsWebExample from "../../assets/apps-web-example.jpg";

const pageTitle = "Aplicaciones Web Personalizadas";
---

<ContainerPages
  pageTitle={pageTitle}
  pageTitleComplete="Aplicaciones Web Personalizadas"
  description="Desarrollo de interfaces intuitivas y funcionales que se adaptan a tu negocio. Herramientas hechas a medida para que dejes atrás soluciones genéricas."
  imgUrl={null}
>
  <ImgAndText
    imageAsset={appsWebExample}
    altImg="Ejemplo de aplicación web"
    description={`<p>
        Analizo tu proceso, identifico los puntos de fricción y diseño una app
        web adaptada a tu forma de trabajar.
      </p>
      <p>
        Puede ser una solución para presupuestos, gestión de tareas, control
        de stock o lo que tu negocio necesite.
      </p>
      <p>
        Trabajo con tecnologías modernas como React, Supabase y Google Sheets,
        asegurando escalabilidad y eficiencia.
      </p>`}
  />

  <CTA
    title="¿Creés que una app podría ayudarte a trabajar mejor?"
    description="Hablemos de tu idea y veamos cómo podemos llevarla a cabo. Estoy aquí para ayudarte a digitalizar tus procesos y optimizar tu gestión."
    href="/contactme"
    buttonTitle="Contáctame"
  />
  <RelatedServices exclude="/services/apps-web" />
</ContainerPages>
