---
import SectionLayout from "../layouts/SectionLayout.astro";
import { Image } from "astro:assets";
import aboutMePicture from "../assets/about-me-picture-side.jpg";
---

<SectionLayout title="Sobre mí">
    <div class="mx-auto">
      <div
        class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8"
      >
        <div class="text-left">
          <div class="max-w-lg md:max-w-none">
            <h2 class="text-2xl font-semibold sm:text-3xl">
              Hola, soy Katherin 👋
            </h2>

            <p class="my-4">
              Desarrolladora web freelance y analista de procesos. Ayudo a
              empresas a digitalizar tareas repetitivas, crear herramientas
              personalizadas y automatizar procesos para que puedan trabajar
              mejor y más liviano.
            </p>
            <a
              href="/about"
              class="inline-block text-rose-500 font-semibold hover:underline"
            >
              Conoce más sobre mí →
            </a>
          </div>
        </div>

        <div>
          <Image
            src={aboutMePicture}
            class="rounded-lg shadow-lg"
            alt="Katherin sonriendo en su espacio de trabajo"
            width={530}
            height={300}
            loading="lazy"
            format="webp"
          />
        </div>
      </div>
    </div>
</SectionLayout>
