---
const { href, active, title } = Astro.props;
---
<li>
  <a
    class=`${active ? "text-rose-500" : "text-stone-600"}  transition hover:text-rose-500/75`
    href={href}
  >
    {title}
  </a>
</li>
