---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../../public/styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en" data-theme="ligth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon-kathe.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4946191620002525"
     crossorigin="anonymous"></script>
  </head>
  <body class="bg-stone-100 text-stone-800 min-h-screen w-full">
    <Header />
    <main class="container mx-auto px-4 sm:px-6 lg:px-8 pb-32 max-w-6xl">
      <slot />
    </main>
    <Footer />
  </body>
</html>
